@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  src: url('../fonts/Montserrat-Light.woff2') format('woff2');
  font-style: normal;
  font-weight: 300;
}


@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  src: url('../fonts/Montserrat-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  src: url('../fonts/Montserrat-Medium.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  src: url('../fonts/Montserrat-SemiBold.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  src: url('../fonts/Montserrat-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
}


// @import "libs";
@import "global";

.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

body {
  overflow: hidden;
}

.header {
  position: fixed;
  z-index: 10;
  top: 0;
  height: 72px;
  width: 100%;
  background-color: #000;
  color: #fff;
  border-bottom: 1px solid #e5e9f2;

  &__container {
    display: grid;
    grid-template-columns: 1fr min-content;
    gap: 20px;
  }

  .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  a {
    color: #fff;
  }

  & .header-button {

    @media (max-width: 830px) {
      position: relative;
      display: block;
      height: 40px;
      width: 40px;
      background-color: transparent;
      border: none;
      z-index: 30;
    }

    @media (min-width: 830px) {
      display: none;
    }

    &__liner,
    &__liner::before,
    &__liner::after {
      position: absolute;
      display: block;
      width: 100%;
      height: 3px;
      border-radius: 4px;
      background-color: #ffffff;

      transform-origin: 50% 50%;
    }

    &__liner {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      &::before {
        content: '';
        top: -10px;
        width: 40px;
      }

      &::after {
        content: '';
        bottom: -10px;
        width: 40px;
      }
    }
  }

  & .header-button--active {
    .header-button__liner {
      animation: closeMiddle 0.3s linear forwards;

      &::before {
        animation: closeTop 0.3s linear forwards;
      }

      &::after {
        animation: closeBottom 0.3s linear forwards;
      }
    }
  }
}

@keyframes closeTop {
  from {
    top: -10px;
  }

  50% {
    top: 0;
    transform: rotate(0);
  }

  to {
    top: 0;
    transform: rotate(-45deg);
  }
}

@keyframes closeMiddle {
  from {
    width: 40px;
  }

  50% {
    width: 0;
  }

  to {
    width: 0;
  }
}

@keyframes closeBottom {
  from {
    bottom: -10px;
  }

  50% {
    bottom: 0;
    transform: rotate(0);
  }

  to {
    bottom: 0;
    transform: rotate(45deg);
  }
}


.header__logo {
  line-height: 0;

  img {
    width: 200px;
  }
}

.header__menu-wrapp {
  @media (max-width: 830px) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    padding: 80px 40px;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s linear;

    &--active {
      opacity: 1;
      pointer-events: all;
    }
  }

  @media (min-width: 830px) {
    flex-grow: 1;
    max-width: 820px;
  }
}

.header__menu {
  @media (max-width: 830px) {
    display: grid;
    grid-template-columns: max-content;
    grid-auto-rows: min-content;
    row-gap: 50px;
  }

  @media (min-width: 830px) {
    display: flex;
    justify-content: space-between;
  }

  li {
    padding: 0;
    font-weight: 500;
    font-size: 28px;
    line-height: 20px;
    display: block;
    cursor: pointer;
    position: relative;

    @media (max-width: 830px) {
      font-size: 28px;
    }

    @media (min-width: 830px) {
      font-size: 18px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      height: 1px;
      width: 0;
      margin-top: 2px;
      background-color: #fff;
      transition: all 0.3s;
    }
  }

  li:hover::before {
    width: 100%;
  }
}

.footer {
  background-color: #000;
  padding: 65px 0;
  color: #d9dbe1;

  a {
    color: #d9dbe1;
  }

  .container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
    display: grid;
    gap: 30px;


    @media (max-width: 830px) {}

    @media (min-width: 830px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

.footer__copy {
  span {
    display: block;
  }

  span:nth-child(2) {
    font-weight: 400;
  }

  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.footer__title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  display: flex;
  align-items: center;

  @media (min-width: 1001px) {
    justify-self: center;
  }

  span {
    padding-right: 13px;
  }

  img {
    width: 85px;
    height: 13px;
  }
}

.footer__social {
  @media (min-width: 1001px) {
    justify-self: end;
  }

  a {
    width: 49px;
    height: 49px;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      transform: scale(1.2);
    }

    .svg {
      display: block;
      height: 30px;
      width: 30px;
    }
  }
}

main {
  position: relative;
  overflow: hidden;
  margin-top: 72px;
}

main.home {
  .main {
    background: #000;
    color: #fff;
    text-align: center;
    min-height: calc(100vh - 70px);
    position: relative;
    overflow: hidden;

    display: flex;
    align-items: stretch;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 2;
      background-color: rgba(0, 0, 0, 0.6);
    }
  }

  .main__bg {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }

  .main-box-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 15px;
  }

  .main-box {
    position: relative;
    z-index: 2;
  }

  .main__title {
    max-width: 1030px;
    margin: 0 auto;
    z-index: 2;
    font-weight: 700;
    text-transform: uppercase;

    @media (max-width: 700px) {
      font-size: 30px;
      margin-bottom: 20px;
    }

    @media (min-width: 700px) and (max-width: 1000px) {
      font-size: 50px;
    }

    @media (min-width: 1000px) {
      font-size: 72px;
      line-height: 92px;
    }

    span {
      font-weight: 500;
      line-height: 1.2;
      text-transform: none;

      @media (max-width: 700px) {
        font-size: 30px;
      }

      @media (min-width: 700px) and (max-width: 1000px) {
        font-size: 38px;
      }

      @media (min-width: 1000px) {
        font-size: 48px;
      }
    }
  }

  .main__subtitle {
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    max-width: 589px;
    margin: 0 auto;
    padding: 20px 0 56px;
    position: relative;
    z-index: 2;

    @media (max-width: 1000px) {
      font-size: 24px;
    }

    @media (min-width: 1001px) {
      font-size: 30px;
    }

  }

  .main__btn {
    background-color: #fff;
    position: relative;
    z-index: 2;
  }

  .about {
    position: relative;

    & .container--about {
      position: relative;
      z-index: 8;
    }
  }

  .about-box {
    color: #1f1f1f;
    padding: 75px 15px;
    position: relative;

    &:nth-child(2) {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 50%;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg,
            #ffffff 0%,
            rgba(255, 255, 255, 0.2) 100%);
      }
    }
  }

  .about__title {
    letter-spacing: -3%;
  }

  .about__text {
    font-weight: 500;
    font-size: 21px;
    letter-spacing: -3%;
    max-width: 500px;
    line-height: 150%;
    margin: 10px 0 43px;
    letter-spacing: -0.03em;
  }

  .about__btn {
    border: 2px solid #000000;
    color: #1f1f1f;
    transition: all 0.3s;

    &:hover {
      background-color: #000;
      color: #fff;
    }
  }

  .about-box:last-child {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .aboutUs {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    display: none;
  }

  .aboutUs-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    overflow-y: auto;
  }

  .aboutUs-content {
    position: relative;
    width: 100%;
    max-width: 1150px;
    color: #fff;
    margin: auto;
    padding: 38px 0 45px;
    border-radius: 30px;
    text-align: center;
    z-index: 4;
    overflow-y: auto;
  }

  .aboutUs__title {
    font-weight: 700;
    font-size: 28px;
    letter-spacing: -0.03em;

    @media (max-width: 700px) {
      font-size: 28px;
    }

    @media (min-width: 700px) and (max-width: 1000px) {
      font-size: 46px;
    }

    @media (min-width: 1000px) {
      font-size: 64px;
    }
  }

  .aboutUs__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.25;
    padding: 35px 15px 71px;
    max-width: 800px;
    margin: 0 auto;

    @media (max-width: 700px) {
      font-size: 20px;
      line-height: 1.25;
    }

    @media (min-width: 700px) and (max-width: 1000px) {
      font-size: 22px;
    }

    @media (min-width: 1000px) {
      font-size: 24px;
      line-height: 39px;
    }
  }

  .aboutUs__btn {
    height: 88px;
    width: 270px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }

  .aboutUs__title,
  .aboutUs__text,
  .aboutUs__btn {
    position: relative;
    z-index: 3;
  }

  .aboutUs__bg {
    background: linear-gradient(180deg,
        rgba(22, 44, 111, 0.85) 0%,
        rgba(0, 0, 0, 0.85) 100%),
      url(../images/aboutUs-bg.jpg);
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    z-index: 2;
  }

  .why {
    background-color: #0d2640;
    text-align: center;
    padding: 75px 0;
    position: relative;
    overflow: hidden;
  }

  .line-animation {
    stroke-dashoffset: 500%;
    stroke-dasharray: 500%;
  }

  @keyframes animdash {
    from {
      stroke-dashoffset: 500%;
    }

    to {
      stroke-dashoffset: 0;
    }
  }

  .why__title {
    color: #fff;
    padding-bottom: 24px;
  }

  .why__box {
    max-width: 620px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;

    @media (max-width: 1200px) {
      display: grid;
      grid-template-columns: 1fr;
      gap: 30px;
      justify-content: center;
    }

    @media (min-width: 1201px) {}
  }

  .why__box-dot {
    width: 32px;
    height: 32px;
    border: 6px solid #5f99b1;
    border-radius: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10px;
    display: none;

    &--main {
      @media (max-width: 1200px) {
        display: none !important;
      }

      @media (min-width: 1201px) {}
    }
  }

  .why__box-line--main {
    @media (max-width: 1200px) {
      display: none !important;
    }

    @media (min-width: 1201px) {}
  }

  .why__box-item {
    position: absolute;
    background-color: #fff;
    opacity: 0;
    transition: all 0.7s;
    border-radius: 15px;

    @media (max-width: 1200px) {
      width: 100%;
      position: static;
      transform: translate(0) !important;
    }

    @media (min-width: 1201px) {
      position: absolute;
    }

    &.active {
      opacity: 1;

      .why-box__item-text {
        font-size: 18px;
        line-height: 22px;
      }
    }

    &.item-1 {
      top: 105px;
      left: 0;
    }

    &.item-2 {
      top: 215px;
      right: 0;
    }

    &.item-3 {
      top: 345px;
      left: 0;
    }

    &.item-4 {
      top: 495px;
      right: 0;
    }

    &.item-5 {
      top: 625px;
      left: 0;
    }

    &.item-1,
    &.item-3,
    &.item-5 {
      transform: translate(-100%, 50%);
    }

    &.item-2,
    &.item-4 {
      transform: translate(100%, 50%);
    }

    .why-box__item-text {
      font-weight: 700;
      font-size: 25px;
      line-height: 30px;
      text-align: center;
      padding: 19px 16px;
      color: #1e3c72;
      transition: all 0.7s;
    }
  }

  .why__box-cup {
    visibility: hidden;
    opacity: 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    margin: 23px 0;
    transition: all 0.3s;

    &.active {
      visibility: visible;
      opacity: 1;
    }

    path {
      fill: #fff;
    }
  }

  .why__btn {
    width: 250px;
    height: 73px;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    color: #0d2640;
    font-weight: 600;
    font-size: 18px;
    line-height: 43px;
    cursor: pointer;
  }

  .napkin {
    text-align: center;
    padding: 75px 0;
  }

  .napkin__title {
    font-weight: 700;
    padding: 0 15px;
    max-width: 1030px;
    margin: 0 auto;


    @media (max-width: 700px) {
      font-size: 28px;
      line-height: 1.3;
    }

    @media (min-width: 700px) and (max-width: 1000px) {
      font-size: 38px;
    }

    @media (min-width: 1000px) {
      font-size: 48px;
      line-height: 64px;
    }
  }

  .napkin__subtitle {
    font-size: 24px;
    line-height: 35px;
    font-weight: 400;
    max-width: 545px;
    margin: 0 auto;
    padding: 38px 0 103px;

    span {
      font-weight: 600;
    }
  }

  .napkin__img {
    max-width: 1030px;
    padding: 0 15px;
    margin: 0 auto;

    img {
      display: block;
      max-width: 100%;
    }
  }

  .portfolio {
    padding: 75px 0;
    transition: all 0.5s;

    &.showAll {
      padding-bottom: 0;

      .portfolio__btn {
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  .portfolio__title {
    text-align: center;
  }

  .portfolio__subtitle {
    padding-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
  }

  .portfolio-box {
    padding-bottom: 50px;

    @media (max-width: 1000px) {
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;
      justify-content: center;
      justify-items: center;
    }

    @media (min-width: 1001px) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 30px;
    }
  }

  .portfolio__item {
    width: 100%;
    max-width: 350px;
    transition: all 0.3s;
    cursor: pointer;

    &:hover {
      transform: scale(1.07);
      z-index: 3;
    }
  }

  .portfolio-content {
    padding: 0 15px 0;
    max-width: 1140px;
    margin: 0 auto;

    &.showAll .portfolio-inner {
      height: 100%;
    }
  }

  .portfolio-inner {
    height: 0;
    transition: all 0.5s;
    position: relative;
    overflow: hidden;
    padding-top: 25px;
  }

  .portfolio-box.first-box {
    padding: 50px 0 25px;
  }

  .portfolio-box.second-box {
    @media (max-width: 1000px) {}

    @media (min-width: 1000px) {
      display: grid;
      grid-template-columns: max-content max-content;
      gap: 30px;
      justify-content: center;
    }
  }

  .portfolio__item-img {
    width: 100%;
    max-width: 350px;
    height: 230px;
    border: 1px solid #141414;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .portfolio__item-title {
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    padding: 6px 0;
    text-transform: uppercase;
  }

  .portfolio__item-subtitle {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
  }

  .portfolio__btn {
    transition: all 0.5s;
  }

  .events {
    padding: 75px 0;
    background: #0d2640;
    overflow: hidden;
  }

  .events__title {
    text-align: center;
    color: #fff;
  }

  .events__sebtitle {
    max-width: 732px;
    margin: 0 auto;
    color: #fff;
  }

  .events-inner {
    color: #fff;
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: max-content;
    justify-items: center;
    gap: 20px;
    height: 100%;

    @media (min-width: 700px) {
      grid-template-columns: 1fr 1fr 1fr;
      justify-items: stretch;
      gap: 30px;
    }

    .events__item {
      max-width: 500px;

      @media (min-width: 700px) {
        max-width: 100%;
      }

      .evets__item-div {
        padding-bottom: 50%;
      }
    }

    &:nth-child(3) {
      .events-box {
        width: 730px;
        height: 100%;
      }

      .tall {
        @media (min-width: 700px) {
          grid-column: 3 / 4;
          grid-row: 1 / 3;
          height: 730px;
        }

        height: 100%;
      }
    }

    &:nth-child(4) {
      height: 540px;

      .events__item {
        height: 100%;
        width: calc(50% - 15px);
      }
    }

    .events-box {
      height: 100%;
    }

    .tall {
      height: 100%;
    }

    .low {
      @media (min-width: 700px) {
        grid-column: 1 / 3;
      }
    }
  }

  .events-box {
    height: 730px;
  }

  .events__item:hover {
    z-index: 30;
    transform: scale(1.07);
  }

  .events__item {
    transition: all 0.3s;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    width: 100%;
    cursor: pointer;

    &::before {
      content: "";
      border-radius: 20px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
    }

    span {
      position: absolute;
      bottom: 30px;
      padding: 0 30px;
      font-size: 24px;
      line-height: 29px;
      text-transform: uppercase;
      font-weight: 700;
      color: #fff;
    }
  }

  .events__item-box {
    display: flex;

    .events__item {
      height: 100%;
      margin-top: 15px;

      &:nth-child(1) {
        margin-right: 15px;
      }

      &:nth-child(2) {
        margin-left: 15px;
      }
    }
  }

  .events__btn {
    background-color: transparent;
    border: 1px solid #ffffff;
    margin-top: 45px;
    color: #fff;

    path {
      fill: #fff;
    }
  }

  .services {
    padding: 75px 0;
  }

  .services__title {
    padding: 0 15px;
    margin-bottom: 15px;
    text-align: center;
  }

  .services__subtitle {
    text-align: center;
    max-width: 970px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 15px;
  }

  .services-inner {
    max-width: 1110px;
    margin: 0 auto;
    display: grid;
    padding: 0 15px;

    @media (max-width: 1000px) {
      gap: 20px;
      grid-template-columns: 1fr;
    }

    @media (min-width: 1001px) {
      grid-template-columns: 1fr 1fr;
      row-gap: 24px;
      column-gap: 15px;
    }
  }

  .services-box {
    display: flex;
    justify-content: center;
  }

  .services-box+.services-box {
    margin-top: 24px;
  }

  .services__item {
    padding: 15px 25px;
    box-sizing: border-box;
    height: 195px;
    position: relative;
    color: #fff;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: rgba(0, 0, 0, 0.6);
    }

    &:hover .services__item-bg {
      transform: scale(1.1);
    }
  }

  .services__item-bg {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s;
  }

  .services__item-title,
  .services__item-text,
  .services__item-btn,
  .services__item-img {
    position: relative;
    z-index: 3;
  }

  .services__item-title {
    padding: 8px 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
  }

  .services__item-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    max-width: 300px;
  }

  .services__item-btn {
    position: absolute;
    bottom: 15px;
    left: 25px;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    cursor: pointer;
  }

  .services__btn {
    margin-top: 45px;
  }

  .window {
    background: #0d2640;

    @media (max-width: 700px) {
      padding: 70px 15px;
    }

    @media (min-width: 700px) and (max-width: 1000px) {
      padding: 90px 15px;
    }

    @media (min-width: 1000px) {
      padding: 100px 15px;
    }
  }

  .window-box {
    padding: 40px 0 20px;
    max-width: 1110px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
    border-radius: 50px;

    @media (max-width: 700px) {
      padding: 40px 0 20px;
    }

    @media (min-width: 700px) and (max-width: 1000px) {
      padding: 60px 0 40px;
    }

    @media (min-width: 1000px) {
      padding: 70px 0 50px;
    }
  }

  .window__img {
    @media (max-width: 1000px) {
      max-width: 150px;
    }

    @media (min-width: 1001px) {}
  }

  .window__title {
    font-weight: 700;

    @media (max-width: 700px) {
      padding: 20px 0 27px;
      font-size: 24px;
      line-height: 1.2;
    }

    @media (min-width: 700px) and (max-width: 1000px) {
      padding: 30px 0 27px;
      font-size: 30px;
      line-height: 1.2;
    }

    @media (min-width: 1000px) {
      padding: 47px 0 27px;
      font-size: 36px;
      line-height: 30px;
    }
  }

  .window__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    max-width: 745px;
    margin: 0 auto;

    @media (max-width: 700px) {
      font-size: 20px;
      line-height: 1.2;
    }

    @media (min-width: 700px) and (max-width: 1000px) {
      font-size: 22px;
      line-height: 1.2;
    }

    @media (min-width: 1000px) {
      font-size: 24px;
      line-height: 42px;
    }
  }

  .window__btn {
    font-weight: 700;

    @media (max-width: 700px) {
      font-size: 22px;
      line-height: 1.1;
      margin: 30px 0;
    }

    @media (min-width: 700px) and (max-width: 1000px) {
      font-size: 28px;
      line-height: 1.1;
      margin: 40px 0;
    }

    @media (min-width: 1000px) {
      font-size: 36px;
      line-height: 20px;
      margin: 71px 0 36px;
    }
  }

  .map {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content max-content;

    .map-shadow {
      position: absolute;
      width: 100%;
      height: 700px;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.3);
      cursor: pointer;

      @media (max-height: 770px) and (orientation:portrait) {
        height: calc(100vh - 180px);
      }
    }

    .map-map {
      width: 100%;
      height: 700px;

      @media (max-height: 770px) and (orientation:portrait) {
        height: calc(100vh - 180px);
      }
    }

    .map__footer {

      @media (max-width: 900px) {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        padding: 10px 0;
        background-color: #000000;
      }

      @media (min-width: 900px) {
        display: grid;
        grid-template-columns: repeat(3, minmax(max-content, 1fr));
        gap: 20px;
        position: absolute;
        justify-items: center;
        bottom: 0;
        left: 0;
        width: 100%;
      }
    }

    .map-item {
      background: #000;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: stretch;
      height: 74px;
      line-height: 27px;
      font-weight: 700;

      @media (max-width: 1230px) {
        font-size: 16px;
        padding: 0 20px;
      }

      @media (min-width: 1230px) {
        font-size: 22px;
        padding: 0 43px;
      }

      img {
        margin-right: 14px;
      }
    }

    div {
      cursor: default;
    }
  }

  .map__adress {
    // width: 397px;
    border-radius: 0px 10px 0px 0px;

    @media (min-width: 1001px) {
      justify-self: start;
    }
  }

  .map__phone {
    // width: 282px;
    border-radius: 10px 10px 0px 0px;
  }

  .map__mail {
    // width: 453px;
    border-radius: 10px 0 0 0;

    @media (min-width: 1001px) {
      justify-self: end;
    }
  }

  .form {
    overflow: hidden;

    @media (max-width: 1000px) {
      padding: 50px 0;
    }

    @media (min-width: 1001px) {
      padding: 150px 0;
    }

    .container {
      max-width: 1140px;
      padding: 0 15px;
      margin: 0 auto;

      @media (max-width: 1000px) {}

      @media (min-width: 1001px) {
        display: flex;
        align-items: center;
      }
    }
  }

  .form__box {
    &:nth-child(2) {
      background: linear-gradient(178deg,
          #1e3c72 1.55%,
          #1e3c72 2.52%,
          #2a5298 98.31%);
      border-radius: 25px;
      max-width: 550px;

      @media (max-width: 1000px) {
        margin: 0 auto;
        padding: 20px;
      }

      @media (min-width: 1000px) {
        width: 100%;
        max-width: 550px;
        // flex-grow: 1;
        margin-left: 15px;
        padding: 40px 40px 75px;
      }
    }
  }

  .form__title {
    font-weight: 700;
    margin-bottom: 20px;

    @media (max-width: 700px) {
      font-size: 28px;
      line-height: 1.2;
    }

    @media (min-width: 700px) and (max-width: 1000px) {
      font-size: 46px;
      line-height: 1.2;
    }

    @media (min-width: 1000px) {
      font-size: 64px;
      line-height: 75px;
      max-width: 540px;
    }
  }

  .form__box-title {
    text-align: center;
    color: #fff;
    font-weight: 700;
    max-width: 430px;
    margin: 0 auto;
    padding-bottom: 32px;

    @media (max-width: 700px) {
      font-size: 24px;
      line-height: 1.2;
    }

    @media (min-width: 700px) and (max-width: 1000px) {
      font-size: 28px;
      line-height: 1.2;
    }

    @media (min-width: 1000px) {
      font-size: 32px;
      line-height: 49px;
    }
  }

  .form__box-input {
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    color: #fff;
    display: block;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 0.5px solid #ffffff;
    padding: 0;
    margin: 0;
    outline: none;

    &::placeholder {
      color: #fff;
    }
  }

  .form__box-input+.form__box-input {
    margin-top: 40px;
  }

  .form__box-btn {
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.25));
    display: block;
    margin-top: 50px;
    font-weight: 600;
    font-size: 24px;
    line-height: 26px;
    width: 100%;
    height: 70px;
    position: relative;
    cursor: pointer;
    border-radius: 17px;

    @media (max-width: 1000px) {
      margin-top: 50px;
    }

    @media (min-width: 1001px) {
      margin-top: 100px;
    }

    span,
    svg {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    span {
      left: 24px;
    }

    svg {
      right: 36px;
    }
  }

  .why {
    .bg-item-1 {
      top: 0;
      right: 0;
      z-index: 0 !important;
    }

    .bg-item-2 {
      bottom: 0;
      left: 0;
      z-index: 0 !important;
    }

    * {
      z-index: 1;
    }

    .why__btn,
    .why__title {
      position: relative;
    }
  }

  .bg-item {
    position: absolute !important;
    z-index: -2;
  }

  .napkin {
    position: relative;

    .bg-item-3 {
      top: 0;
      left: 0;
      z-index: 0;

    }

    .bg-item-4 {
      bottom: -137px;
      left: 0;
      z-index: 0;
    }

    * {
      position: relative;
      z-index: 1;
    }
  }

  .portfolio {
    position: relative;

    .bg-item-5 {
      bottom: 0;
      right: 0;
    }

    * {
      position: relative;
      z-index: 1;
    }
  }

  .events {
    position: relative;

    .bg-item-6 {
      top: 0;
      right: 0;
      z-index: 0;
    }

    .bg-item-7 {
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      z-index: 0;
    }

    .bg-item-8 {
      bottom: 0;
      right: 0;
      z-index: 2;
    }

    * {
      position: relative;
      z-index: 3;
    }
  }

  .services {
    position: relative;

    .bg-item-9 {
      top: 0;
      right: 0;
    }

    .services__title,
    .services__subtitle,
    .services-inner {
      position: relative;
      z-index: 1;
    }
  }

  .form,
  .footer {
    position: relative;
    z-index: 1;
  }

  .bg-item-10 {
    bottom: -250px;
    left: 0;
    z-index: -2;
  }
}

.popup {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: none;

  .popup-close {
    display: block;
    height: 40px;
    width: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 20000;
    border: none;
    background: transparent;

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 100%;
      height: 2px;
      border-radius: 4px;
      background-color: #ffffff;

      &:nth-child(1) {
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &:nth-child(2) {
        transform: translate(-50%, -50%)rotate(-45deg);
      }
    }
  }
}

.first-popup {
  .popup-content {
    background: linear-gradient(0deg, #b224ef 0%, #7579ff 100%);
    border-radius: 20px;
    max-width: 500px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 45px 35px 50px;
    color: #fff;
  }

  .popup__title {
    font-weight: 700;
    padding-top: 10px;


    @media (max-width: 1000px) {
      font-size: 28px;
      line-height: 1.2;
    }

    @media (min-width: 1001px) {
      font-size: 32px;
      line-height: 40px;
    }
  }

  .popup__input {
    font-size: 18px;
    line-height: 26px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #fff;
    width: 100%;
    font-weight: 300;
    margin-top: 40px;
    outline: none;
    color: #fff;

    &::placeholder {
      color: #fff;
    }
  }

  .popup__btn {
    background: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-weight: 600;
    font-size: 24px;
    line-height: 26px;
    width: 100%;
    height: 76px;
    position: relative;
    cursor: pointer;
    border: none;

    @media (max-width: 1000px) {
      margin-top: 50px;
    }

    @media (min-width: 1001px) {
      margin-top: 130px;
    }

    span,
    svg {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    span {
      left: 20px;
    }

    svg {
      right: 24px;
      width: 28px;
      height: 28px;
    }
  }
}

.popup__shadow {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.done-popup {
  .popup-content {
    background-color: #fff;
    text-align: center;
    max-width: 720px;
    border-radius: 20px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 47px 0 50px;
  }

  .popup__tick {
    @media (max-width: 550px) {
      svg {
        height: 80px;
      }
    }
  }

  .popup__title,
  .popup__subtitle {
    background: linear-gradient(90deg, #7028e4 0%, #e5b2ca 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  .popup__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 40px;
    padding: 30px 0 5px;
  }

  .popup__subtitle {
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
    padding-bottom: 37px;
  }

  .popup__btn {
    background: #000000;
    border: none;
    border-radius: 20px;
    font-weight: 600;
    font-size: 24px;
    line-height: 26px;
    color: #fff;
    height: 75px;
    width: 260px;
    cursor: pointer;
  }
}

.section-popup {

  .popup__title,
  .popup__subtitle {
    background: linear-gradient(90deg, #3d4e81 0%, #5753c9 48%, #6e7ff3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}

main.portfolio {
  .main {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 725px;
    width: 100%;
    position: relative;
  }

  .main__item {
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 0px 50px 0px 0px;
    background-color: #000;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-transform: uppercase;
    padding: 34px 81px;

    @media (max-width: 700px) {
      font-size: 18px;
      line-height: 1;
      padding: 20px 40px;
    }

    @media (min-width: 700px) and (max-width: 1000px) {
      font-size: 26px;
      line-height: 1;
      padding: 25px 48px;
    }

    @media (min-width: 1000px) {
      font-size: 32px;
      line-height: 39px;
      padding: 34px 81px;
    }
  }

  .content {
    padding: 150px 0;

    @media (max-width: 700px) {
      padding: 60px 0;
    }

    @media (min-width: 700px) and (max-width: 1000px) {
      padding: 120px 0;
    }

    @media (min-width: 1000px) {
      padding: 150px 0;
    }

    .container {
      max-width: 950px;
      width: 100%;
      margin: 0 auto;
      padding: 0 15px;
    }
  }

  .content__title {
    text-align: center;
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    padding-bottom: 50px;

    @media (max-width: 700px) {
      font-size: 28px;
      line-height: 1.2;
      padding-bottom: 40px;
    }

    @media (min-width: 700px) and (max-width: 1000px) {
      font-size: 32px;
      line-height: 1.2;
      padding-bottom: 45px;
    }

    @media (min-width: 1000px) {
      font-size: 36px;
      line-height: 44px;
      padding-bottom: 50px;
    }
  }

  .content-box {
    width: 100%;
    margin-bottom: 150px;

    display: grid;

    @media (max-width: 700px) {
      row-gap: 20px;
    }

    @media (min-width: 700px) and (max-width: 1000px) {
      grid-template-columns: 1fr 1fr;
      row-gap: 35px;
    }

    @media (min-width: 1000px) {
      grid-template-columns: 1fr 1fr;
      row-gap: 35px;
    }
  }

  .content__gallery {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    border-radius: 20px;
    cursor: pointer;

    .content__gallery-span {
      padding-bottom: 56%;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.85);
      border-radius: 20px;
    }
  }

  .content__gallery-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 465px;
    width: 100%;
    text-align: center;
    width: 100%;
  }

  .content__gallery-img {
    img {
      display: block;
      margin: 0 auto;

      @media (max-width: 700px) {
        width: 24px;
      }

      @media (min-width: 700px) and (max-width: 1000px) {
        width: 34px;
      }

      @media (min-width: 1000px) {
        width: auto;
      }
    }
  }

  .content__gallery-title {
    padding-top: 30px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #ffffff;
    width: 100%;

    @media (max-width: 700px) {
      padding: 10px 10px 0;
      font-size: 16px;
      line-height: 1.2;
    }

    @media (min-width: 700px) and (max-width: 1000px) {
      padding: 20px 20px 0;
      font-size: 22px;
      line-height: 1.2;
    }

    @media (min-width: 1000px) {
      padding: 30px 30px 0;
      font-size: 24px;
      line-height: 29px;
    }
  }

  .content-inner {}

  .content__item {
    display: grid;
    grid-template-columns: min-content max-content;
    column-gap: 30px;
    align-items: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 25px;

    @media (max-width: 700px) {
      column-gap: 20px;
    }

    @media (min-width: 700px) and (max-width: 1000px) {
      &:nth-child(2) {
        justify-self: end;
      }

      &:nth-child(4) {
        justify-self: end;
      }

      column-gap: 30px;
    }

    @media (min-width: 1000px) {
      &:nth-child(2) {
        justify-self: end;
      }

      &:nth-child(4) {
        justify-self: end;
      }

      column-gap: 30px;
    }

    .content__item-img {

      @media (max-width: 700px) {
        width: 44px;
      }

      @media (min-width: 700px) and (max-width: 1000px) {
        width: 54px;
      }

      @media (min-width: 1000px) {
        width: 64px;
      }

      svg {
        display: block;
        width: 100%;
      }
    }
  }

  .content__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 100px;
  }

  .content__order {
    @media (max-width: 700px) {
      margin-top: 50px;
      display: flex;
      flex-direction: column-reverse;
      align-items: start;
    }

    @media (min-width: 700px) {
      margin-top: 100px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  .content__order-btn {
    background: #000000;
    border-radius: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;

    @media (max-width: 700px) {
      padding: 16px 20px;
    }

    @media (min-width: 700px) and (max-width: 1000px) {
      padding: 20px 24px;
    }

    @media (min-width: 1000px) {
      padding: 25px 28px;
    }

    span {
      padding-right: 35px;
      font-weight: 600;
      font-size: 28px;
      line-height: 30px;
      color: #fff;

      @media (max-width: 700px) {
        font-size: 18px;
        line-height: 1.2;
      }

      @media (min-width: 700px) and (max-width: 1000px) {
        font-size: 28px;
        line-height: 30px;
      }

      @media (min-width: 1000px) {
        font-size: 28px;
        line-height: 30px;
      }
    }
  }

  .content__order-box {
    display: flex;
    align-items: center;

    span {
      font-weight: 600;

      @media (max-width: 700px) {
        font-size: 14px;
        line-height: 1.1;
        margin-right: 10px;
      }

      @media (min-width: 700px) and (max-width: 1000px) {
        font-size: 24px;
        margin-right: 20px;
      }

      @media (min-width: 1000px) {
        font-size: 28px;
        line-height: 30px;
        margin-right: 25px;
      }
    }
  }

  .content__order-social {
    a {
      width: 49px;
      height: 49px;
      position: relative;
    }

    @media (min-width: 700px) {
      a+a {
        margin-left: 15px;
      }
    }


    svg {
      width: 26.13px;
      height: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    a:nth-child(2) svg {
      width: 14.29px;
    }

    svg,
    path {
      fill: #000;
    }
  }

  .bg-item {
    position: absolute !important;
  }

  .content {
    position: relative;
    overflow: hidden;

    .container {
      position: relative;
      z-index: 1;
    }

    .bg-item-11 {
      top: -80px;
      right: 0;
    }

    .bg-item-12 {
      left: 0;
      bottom: -185px;
    }
  }
}

.close {
  font-size: 25px;
  text-decoration: underline;
  position: fixed;
  top: 20px;
  right: 30px;
  z-index: 25;
  color: #fff;
  display: none;
}

.cursor {
  display: none;
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 24;
  transition: transform 0.2s;
  transform: translate(-50%, -50%);

  &.active {
    transform: translate(-50%, -50%) scale(1.2);
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 1px;
    width: 10px;
    background-color: #fff;
    opacity: 0;
  }

  &::after {
    transform: translate(-50%, -50%) rotate(90deg);
  }

  &.clickActive {
    transform: translate(-50%, -50%) scale(1.5);

    &::before,
    &::after {
      opacity: 1;
    }
  }

  &.clickNoActive {
    &::after {
      opacity: 0;
    }
  }
}

.three-canvas {
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 15;
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
}

body.scrollBlock {
  overflow: hidden;
  height: 100vh;
  width: 100%;
}

body.active {
  cursor: none;

  &::before {
    opacity: 1;
    visibility: visible;
  }
}

main.services {
  .services-bg {
    color: #fff;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @media (max-width: 700px) {
      padding: 80px 0 30px;
    }

    @media (min-width: 700px) and (max-width: 1000px) {
      padding: 155px 0 65px;
    }

    @media (min-width: 1000px) {
      padding: 175px 0 75px;
    }

    svg {
      animation: arrowAnim 1s infinite ease-in-out;
      position: relative;
      left: 50%;
      z-index: 1;
      cursor: pointer;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      z-index: 0;
    }
  }

  .services__title {
    text-align: center;
    font-weight: 600;
    font-size: 96px;
    line-height: 117px;
    position: relative;
    z-index: 1;

    @media (max-width: 700px) {
      font-size: 56px;
      line-height: 1.2;
    }

    @media (min-width: 700px) and (max-width: 1000px) {
      font-size: 76px;
      line-height: 1.2;
    }

    @media (min-width: 1000px) {
      font-size: 96px;
      line-height: 117px;
    }

    &.padding-title {

      @media (max-width: 700px) {
        padding-bottom: 150px;
      }

      @media (min-width: 700px) and (max-width: 1000px) {
        padding-bottom: 200px;
      }

      @media (min-width: 1000px) {
        padding-bottom: 223px;
      }
    }
  }

  .services__subtitle {
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    // max-width: 500px;
    margin: 0 auto;
    position: relative;
    z-index: 1;

    @media (max-width: 700px) {
      padding: 25px 0 80px;
    }

    @media (min-width: 700px) and (max-width: 1000px) {
      padding: 25px 0 120px;
    }

    @media (min-width: 1000px) {
      padding: 25px 0 140px;
    }
  }

  .services__links {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
    margin-bottom: 58px;
    position: relative;
    z-index: 1;

    @media (max-width: 700px) {
      display: grid;
      gap: 20px;
    }

    @media (min-width: 700px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .services__links-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: underline;
    cursor: pointer;
    text-align: center;
  }

  @keyframes arrowAnim {
    0% {
      transform: translate(-50%, 0);
    }

    50% {
      transform: translate(-50%, 10px);
    }

    100% {
      transform: translate(-50%, 0);
    }
  }

  .bg-item {
    position: absolute;
    z-index: -1;
  }

  .bg-item-1 {
    top: 650px;
    left: 0;
  }

  .bg-item-2 {
    top: 2125px;
    right: 0;
  }

  .bg-item-3 {
    top: 2900px;
    left: 0;
  }

  .bg-item-4 {
    top: 4050px;
    right: 0;
  }

  .bg-item-5 {
    top: 5240px;
    left: 0;
  }

  .bg-item-6 {
    top: 6160px;
    right: 0;
  }

  .bg-item-7 {
    top: 7850px;
    left: 0;
  }

  .services-item {
    padding-top: 130px;

    @media (max-width: 700px) {
      padding-top: 80px;
    }

    @media (min-width: 700px) and (max-width: 1000px) {
      padding-top: 110px;
    }

    @media (min-width: 1000px) {
      padding-top: 130px;
    }
  }

  .main__title {
    font-weight: 800;
    font-size: 64px;
    line-height: 58px;
    text-align: center;

    @media (max-width: 700px) {
      font-size: 34px;
      line-height: 1;
    }

    @media (min-width: 700px) and (max-width: 1000px) {
      font-size: 50px;
      line-height: 1;
    }

    @media (min-width: 1000px) {
      font-size: 64px;
      line-height: 58px;
    }
  }

  .main__content {
    max-width: 570px;
  }

  .main__content-title {
    font-weight: 800;
    font-size: 36px;
    line-height: 46px;
    padding-bottom: 20px;

    @media (max-width: 700px) {
      font-size: 22px;
      line-height: 1.2;
    }

    @media (min-width: 700px) and (max-width: 1000px) {
      font-size: 30px;
      line-height: 1.2;
    }

    @media (min-width: 1000px) {
      font-size: 36px;
      line-height: 46px;
    }
  }

  .main__content-text {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;

    @media (max-width: 700px) {
      font-size: 18px;
      line-height: 1.2;
    }

    @media (min-width: 700px) and (max-width: 1000px) {
      font-size: 22px;
      line-height: 1.2;
    }

    @media (min-width: 1000px) {
      font-size: 24px;
      line-height: 32px;
    }
  }

  .main__content-btn {
    width: 350px;
    height: 60px;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    border: none;
    background: #000000;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
  }

  .main__img {
    display: block;
    width: 100%;
    max-width: 422px;
    border-radius: 40px;

    @media (max-width: 800px) {
      justify-self: center;
    }
  }

  .main-box {
    width: 100%;
    display: grid;
    gap: 20px;

    @media (max-width: 800px) {
      padding-top: 45px;
    }

    @media (min-width: 800px) and (max-width: 1000px) {
      grid-template-columns: 1fr minmax(280px, 420px);
      padding-top: 65px;
    }

    @media (min-width: 1000px) {
      grid-template-columns: 1fr minmax(280px, 420px);
      ;
      padding-top: 75px;
    }
  }

  .tasks {
    padding-top: 75px;
    display: none;

    .container {
      // display: flex;
      // justify-content: center;

      @media (max-width: 800px) {}

      @media (min-width: 700px) and (max-width: 1000px) {

        column-count: 2;
      }

      @media (min-width: 1000px) {

        column-count: 3;
      }
    }
  }

  @media (max-width: 700px) {
    .tasks-1 {
      display: block;
    }
  }

  @media (min-width: 700px) and (max-width: 1000px) {
    .tasks-1 {
      display: none;
    }

    .tasks-2 {
      display: block;
    }
  }

  @media (min-width: 1000px) {
    .tasks-2 {
      display: none;
    }

    .tasks-3 {
      display: block;
    }
  }

  .container+.container {
    padding-top: 30px;
  }

  .tasks__text {
    padding-top: 70px;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #000000;
    max-width: 920px;
    margin: 0 auto;
  }

  .services-item.noMarginText .tasks__item-text {
    margin-top: 0;
  }

  .tasks__title {
    text-align: center;
    font-weight: 600;
    font-size: 36px;
    line-height: 50px;
    padding-bottom: 40px;
  }

  .main__content-sign {
    padding-top: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    span {
      font-weight: 600;
    }
  }

  .tasks-box+.tasks-box {
    margin-left: 30px;
  }

  .tasks-box {
    max-width: 350px;
    width: 100%;
  }

  .tasks__item {
    width: 100%;
    padding: 30px 25px 30px;
    background: linear-gradient(331.2deg, #5753c9 0.76%, #6e7ff3 100%);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    break-inside: avoid;
  }

  .tasks__item+.tasks__item {
    margin-top: 30px;
  }

  .tasks__item-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 0.25px;
    color: #ffffff;
    margin-bottom: 5px;
  }

  .tasks__item-subtitle {
    padding: 3px 11px;
    font-weight: 600;
    font-size: 10px;
    line-height: 24px;
    letter-spacing: 0.25px;
    background: linear-gradient(180deg, #6267dc 0%, #5956cc 100%);
    border-radius: 8px;
    color: #fff;
    display: inline-block;
    margin-top: 10px;
  }

  .tasks__item-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #fff;
    margin-top: 20px;
  }

  .form {
    border: 2px solid #000000;
    max-width: 775px;
    width: 100%;
    margin: 130px auto 100px;
    text-align: center;
    padding: 50px 20px;
    border-radius: 50px;
    background-color: #fff;
  }

  .form__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 32px;

    @media (max-width: 700px) {
      font-size: 24px;
      line-height: 1.1;
    }

    @media (min-width: 700px) and (max-width: 1000px) {
      font-size: 32px;
      line-height: 1.1;
    }

    @media (min-width: 1000px) {
      font-size: 36px;
      line-height: 32px;
    }
  }

  .form-inner {
    padding: 53px 0 50px;
    max-width: 505px;
    width: 100%;
    margin: 0 auto;
  }

  .form__input {
    border: none;
    background: none;
    border-bottom: 1px solid #000;
    font-size: 14px;
    line-height: 32px;
    display: block;
    width: 100%;

    &::placeholder {
      color: #000;
    }

    &+.form__input {
      margin-top: 38px;
    }
  }

  .form__btn {
    max-width: 505px;
    width: 100%;
    border: none;
    height: 60px;
    background: #000000;
    border-radius: 20px;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #fff;
    cursor: pointer;
  }
}